<div id="modal-body">
  <h3>お店一覧</h3>
  <div class="shop-toggle">＋追加</div>
  <div id="shop-add" style="display: none">
    <%= render 'shops/modal_new', object: @shop %>
  </div>

  <% @shops.each do |shop| %>
    <div class="shop" id="<%= shop.id %>"><%= shop.name %></div>
  <% end %>
  <br><br>
  <div class="decide decide-shop"><%= "決定" %></div>

  <script type="text/javascript">
    id = "";
    name = "";
    $(".shop").click(function(){
      $('.active').not(this).removeClass('active');
      $(this).toggleClass('active');
    });
    $(".decide-shop").click(function(){
        $('#select_shop').text($('.active').text());
        $('#ramen_ramen_shop_attributes_shop_id').val($('.active').attr('id'));
      hide_modal();
    });

    $(".shop-toggle").click(function(){
      $("#shop-add").toggle(300);
    });
  </script>
</div>
