$("body").append('<div id="modal-overlay" onclick="hide_modal();"></div>');
$("#modal-body").replaceWith("<%= escape_javascript(render 'shops/modal', object: @shops) %>");
$("#modal-overlay").fadeIn("slow");
$("#modal-content").fadeIn("slow");
