<p id="notice"><%= notice %></p>
<div class="main">
<% if false %>
  <ul style="list-style:none;">
    <% @ramen.each do |ramen| %>
      <li class="li-content"><%= render partial: 'share/ramen', locals: {ramen: ramen} %></li>
    <% end %>
  </ul>
<% else %>
  <% @ramen.each do |ramen| %>
    <%= render partial: 'share/ramen', locals: {ramen: ramen} %>
  <% end %>
<% end %>
</div>
<script type="text/javascript">
/*
  $(document).ready(function(){
    var ids = new Array();
    <% @ramen.each do |ramen| %>
      ids.push(<%= ramen.id %>);
    <% end %>
    $.each(ids, function(i, id) {
      $.ajax({
        url: "ramen/"+id+"/get_image",
        type: 'get',
        success: function(res) {
        },
        error: function(res, status) {
          alert("error!");
        }
      });
    });
  });
*/
</script>